@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h1>Enroll new student:</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)
}