@{
  Layout = "_Layout";
}
<div class="container body">
  @model Registrar.Models.Course
  <h1>Delete Confirmation</h1>
  <hr />
  <h4>Are you sure you want to delete "@Html.DisplayFor(model => model.CourseName)"?</h4>

  @using (Html.BeginForm())
  {
    <br><input type="submit" value="Delete Course"/>
  }
  <br>@Html.ActionLink("Back to courses", "Index")
</div>