@{
  Layout = "_Layout";
}
<div class="container">
  <h1>University Registrar</h1>
  <hr />
  <p>@Html.ActionLink("View all students", "Index", "Students")</p>
  <p>@Html.ActionLink("View all courses", "Index", "Courses")</p>
  <p>@Html.ActionLink("View all departments", "Index", "Departments")</p>
</div>